.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-bottom: 4rem;
  background-color: #aacce3;
  font-family: "Arial", sans-serif;
  text-align: center;
  border-top: 3px solid #e3f7fa;
}

.footer-section-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.footer-logo-app {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.footer-logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.footer-app-name {
  font-weight: bold;
  font-size: 18px;
}

.footer-terms {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.footer-copyright {
  font-size: 14px;
}

.footer-section-b {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 934px) {
  .footer {
    flex-direction: row;
    margin-bottom: 0rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 31px;
    text-align: left;
  }

  .footer-section-a {
    margin-bottom: 0;
    align-items: flex-start;
  }

  .footer-section-b {
    flex-direction: row;
    gap: 24px;
    margin-top: 0;
  }
}
