.navbar {
    background-color: rgb(210,220,230);
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    border-radius: 0px;
    padding: 15px 6px;
    margin-left: 0%;
    margin-right: 0%;
    z-index: 8;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;
}

.dark .navbar {
    background-color: #1e293b;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icon {
    display: block;
    margin-left: 1.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.toggle-button-theme {
    border-radius: 10px;
    padding: 6.2px;
    margin-left:1.2rem;
    background-color: rgba(187,193,201,0.8);
    border: none; /* Remove border if present */
    display: flex; /* Ensure proper alignment */
    align-items: center; /* Center contents inside button */
    justify-content: center; /* Center contents inside button */
    cursor: pointer; /* Add pointer cursor for better UX */
    height: 32px; /* Set a fixed height if needed */
    line-height: 1; /* Align text vertically */
}

.nav-link {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 0 8px;
}

.dark .nav-link {
    color: white;
}

@media only screen and (max-width: 933px) {
    .navbar {
        margin-top: 0px;
        margin-bottom: 0px;
        position: fixed;
        border-radius: 0px;
        padding: 15px 6px;
        margin-left: 0%;
        margin-right: 0%;
        z-index: 17;
        left: 0;
        bottom:0;
        right: 0;
    }

    .dark .navbar {
        background-color: #1e293b;
    }

    .toggle-button-theme {
        display: block;
    }
    
    .nav-icon {
        display: none;
    }

    .container {
        justify-content: space-evenly;
    }

    .nav-link {
        padding-left: 8px;
        padding-right: 8px;
    }
}
