@tailwind base;

:root {
  --background-light: #f1f9f2;
  --foreground-light: #171717;
  --background-dark: #2c3a4d;
  --foreground-dark: #f1f1f1;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--background-light);
    --foreground: var(--foreground-light);
  }
}

body {
  color: var(--foreground-light);
  transition: background-color 0.1s ease, color 0.1s ease;
  background-color: var(--background-light);
}

.dark body {
  color: var(--foreground-dark);
  background-color: var(--background-dark);
  transition: background-color 0.1s ease, color 0.1s ease;
}
